@media_mobile: ~'(max-width: 500px)';

.chayka-comments-width{
    width: 600px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.chayka-comments-link{
    color: #888;
    cursor: pointer;
}

.chayka-comments{

    .no_comments{
        text-align: center;
        margin-bottom: 20px;
    }

    .no_password{
        text-align: center;
    }

    .comments-list{
    }

    .show_hidden_pane{
//        border-top: 1px gray dotted;
        font-size: 12px;
//        color: #888;
        height: 20px;
        margin-top: 1ex;
        margin-bottom: 1ex;

        .link{
            float: left;
            cursor: pointer;
        }

        .shown_total{
            float: right;
        }
    }

}

.chayka-comments-comment_item{
//    border-top: 1px gray dotted;
//    padding: 0.5em 0;
    clear: both;
    position: relative;

    .user_details{
        float: left;
        min-height: 24px;
        padding: 0;
        box-sizing: border-box;

        .user_id{
            display: none;
        }
        img.avatar{
            position: absolute;
            width: 48px;
            height: auto;
            border: 1px solid #dddddd;
//            border-radius: 3px;
        }
        .name{
            line-height: 24px;
            display: block;
            margin-left:64px;
            font-size: 13px;
            font-weight: bold;
            @media @media_mobile{
                max-width: 115px;
                padding-top: 4px;
                line-height: 16px;
                padding-bottom: 4px;
            }
        }
    }

    .chayka-spinner{
        float: right;
        font-size: 13px;
        margin-left: 2em;
        padding-left: 30px;
        background-size: 20px;
        background-position: left center;
        @media @media_mobile {
            background-size: 16px;
            overflow: hidden;
            width: 16px;
            height: 16px;
            line-height: 16px;
            padding-left: 16px;
            position: absolute;
            top: 20px;
            right: 0;
            z-index: 1;
//            float: left;
        }
    }

    .comment_date{
        min-height: 24px;
        line-height: 24px;
        text-align: right;
        font-size: 11px;
        margin-left: 2em;
        float: left;
        @media @media_mobile{
            display: none;
        }
    }

    .comment_voting{
        min-height: 24px;
        float: right;
        max-width: 100px;
        margin-left: 1em;
        line-height: 24px;
        @media @media_mobile {
            margin-left: 0;
        }
//        flex-flow: column;
//        align-items: center;

        /*position: absolute;*/
        .comment_karma{
//            flex: 0;
//            order: 2;
            vertical-align: top;
            display: inline-block;
            font-size: 12px;
            font-weight: bold;
            &.positive{
                color: #439c24;
            }
            &.negative{
                color: #a52727;
            }
        }
        .comment_karma_delta{
//            flex: 0;
//            order: 3;
            vertical-align: top;
            display: none;
            border-radius: 3em;
            color: white;
            min-width: 2ex;
            padding: 0 1ex;
            /*text-align: center;*/
            font-size: 12px;
            /*vertical-align: middle;*/
            &.positive{
                display: inline-block;
                background-color: #439c24;
            }
            &.negative{
                display: inline-block;
                background-color: #a52727;
            }
        }
        .comment_vote_arrow{
//            flex: 0;
            min-height: 24px;
            line-height: 24px;
            display: inline-block;
            cursor: pointer;
            &.vote_up{
                order: 1;
            }
            &.vote_down{
                order: 2;
            }
            &.disabled{
                opacity: .5;
            }
            >.dashicons-before::before{
                min-height: 24px;
                line-height: 24px;
                vertical-align: top;
                font-size: 23px;
            }
        }
    }

    .comment_content{
        /*float: left;*/
        clear: both;
        font-size: 13px;
        min-height: 33px;
        padding-left: 64px;
        padding-bottom: 30px;
        /*margin-right: 120px;*/
        @media @media_mobile {
            padding-bottom: 6px;
        }

        .comment_reply_to{
            float: left;
            margin-right: 1ex;
            cursor: pointer;
        }
        .comment_message{
            white-space: pre-wrap;
            display: inline;
        }
        .comment_unfold{
            display: inline;
            cursor: pointer;
            text-decoration: underline;
            color: cornflowerblue;
            white-space: nowrap;
        }
        .comment_total_replies{
            cursor: pointer;
            margin-top: 5px;
            font-size: 90%;
//            color: #888;
        }
    }
    .comment_status{
        margin-top: -24px;
        height: 24px;
        float: left;
        font-size: 11px;
        font-style: italic;
        @media @media_mobile{
            margin-top: 0;
            float: right;
        }
    }
    .comment_tools{
        margin-top: -24px;
        height: 24px;
        float: right;
//        margin-right: 5px;
        display: none;
        font-size: 11px;
        opacity: .5;

        @media @media_mobile{
            display: block;
            margin-top: 0;
        }

        .tool_link{
            cursor: pointer;
            margin-left: 1ex;
            .dashicons-before::before{
                font-size: 17px;
            }
        }

        .tool_link_reply_to{
//            color: cornflowerblue;
        }
        .tool_link_edit{
//            color: dodgerblue;
        }
        .tool_link_delete{
//            color: maroon;
        }

    }

    &:hover{
        .comment_tools{
            display: block;
        }
    }
    &.negative_karma{
        .comment_message{
            color: #aaaaaa;
        }
    }

    &.reply_to{
        background-color: #fafafa;
    }

    &.comment_refreshed{
        background-color: antiquewhite;;
    }
}





.chayka-comments-comment_editor{
    padding: 0.5em 0;
    margin-bottom: 2em;
    clear: both;

    .flex_box{
        display: flex;
        flex-flow: row nowrap;
    }

    .reply_to_box{
        &>h3{
            font-size: 16px;
            margin-top: 0;
        }

    }
    .form_field{
//        float: left;
        margin-right: 1em;
        margin-bottom: 10px;

        label{
            display: none;
        }

        .input{
            input, textarea{
                font-size: 13px;
                border-color: #ccc;
                padding: 2px;
                margin-bottom: 0;

            }
            .placeholder{
                color: #888888;
            }
        }
        .message{
            clear: both;
            text-align: right;
            font-size: 12px;
            font-style: italic;
            color: gray;
            height: 14px;
        }

        .message.error{
            color: #CD0A0A;
        }
    }


    .content_block{
        flex: 1 1;
//        width: 100%;
//        float: left;
        box-sizing: border-box;
        display: flex;
        flex-flow: column nowrap;

        .field_content{
            flex: 1 1 100%;
            display: flex;
            flex-flow: column nowrap;
            margin-right: 0;

            label{
                display: none;
            }

            .input{
                flex: 1 1;
//                flex-flow: column;
                textarea{
//                    flex: 1 1;
                    box-sizing: border-box;
                    width: 100%;
                    min-height: 200px;
//                    min-height: 100%;
                }
            }
            .message{
                flex: 0 0 14px;
//                clear: both;
                text-align: right;
                font-size: 12px;
                font-style: italic;
                color: gray;
                height: 14px;
                & > p{
                    margin: 0;
                    padding: 0;
                }
            }

            .message.error{
                color: #CD0A0A;
            }
        }
    }

    .non_authorized_block{
        flex: 0 0 230px;
//        position: absolute;
//        width: 230px;
    }

    .user_authorized_block{
        flex: 0 0 64px;
//        position: absolute;
//        width: 64px;
        img.avatar{
            position: absolute;
            width: 48px;
            height: auto;
            border: 1px solid #dddddd;
//            border-radius: 3px;

        }
    }

    .form_box-buttons{
//        float: right;
        box-sizing: border-box;
        text-align: right;
        /*width: 100px;*/

        .required_fields_note{
            display: none;
            float: left;
            span{
                color: red;
                font-weight: bold;
            }
        }

        button{

        }
        .btn_save{
        }
        .btn_cancel{
        }
    }

    &.non_authorized{ /*editor*/
        padding-top: 1em;

        .auth_invitation{
            text-align: right;
        }

        .non_authorized_block{
//            display: block;

            .form_field{
                width:210px;

                .form_field-tips{
                    margin-right: 10px;
                }

            }
            &.require_name_email > div[data-check-required]{
                >.input{
                    position: relative;
                    input {
                    }
                }
                >.input::after{
                    content: '*';
                    color: red;
                    font-weight: bold;
                    position: absolute;
                    right: -12px;
                    top: 0;
                    display: inline-block;
                    overflow: visible;
                }
            }
        }

        .content_block{
            .input{
                textarea{
                }
            }

        }

        @media @media_mobile{
            .flex_box{
                flex-flow: column;
            }
            .non_authorized_block{
                order: 2;
                flex: 1 1;
                .form_field{
                    width: 100%;
                }
            }
            .content_block{
                order: 1;
                .input{
                    textarea{
                        min-height: 100px;
                    }
                }

            }

        }
        .form_box-buttons{
            /*padding-left: 230px;*/
            width: 100%;

            .required_fields_note{
                display: block;
            }

        }
    }

    &.user_authorized{

        .auth_invitation{
        }

        .user_authorized_block{
        }

        .content_block{
            .input{
                textarea{
                    min-height: 50px;
                    height: 50px;
                }
            }

        }
        .form_box-buttons{
            /*padding-left: 230px;*/
            width: 100%;

        }
    }

}

.chayka-comments-dialog{
    & > h3{
        font-size: 16px;
        margin-top: 0;
    }
    & > .replies_list{
//        max-height: 300px;
//        overflow-y: auto;
        padding-left: 20px;
    }
}





