.chayka-comments-width {
  width: 600px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.chayka-comments-link {
  color: #888;
  cursor: pointer;
}
.chayka-comments .no_comments {
  text-align: center;
  margin-bottom: 20px;
}
.chayka-comments .no_password {
  text-align: center;
}
.chayka-comments .show_hidden_pane {
  font-size: 12px;
  height: 20px;
  margin-top: 1ex;
  margin-bottom: 1ex;
}
.chayka-comments .show_hidden_pane .link {
  float: left;
  cursor: pointer;
}
.chayka-comments .show_hidden_pane .shown_total {
  float: right;
}
.chayka-comments-comment_item {
  clear: both;
  position: relative;
}
.chayka-comments-comment_item .user_details {
  float: left;
  min-height: 24px;
  padding: 0;
  box-sizing: border-box;
}
.chayka-comments-comment_item .user_details .user_id {
  display: none;
}
.chayka-comments-comment_item .user_details img.avatar {
  position: absolute;
  width: 48px;
  height: auto;
  border: 1px solid #dddddd;
}
.chayka-comments-comment_item .user_details .name {
  line-height: 24px;
  display: block;
  margin-left: 64px;
  font-size: 13px;
  font-weight: bold;
}
@media (max-width: 500px) {
  .chayka-comments-comment_item .user_details .name {
    max-width: 115px;
    padding-top: 4px;
    line-height: 16px;
    padding-bottom: 4px;
  }
}
.chayka-comments-comment_item .chayka-spinner {
  float: right;
  font-size: 13px;
  margin-left: 2em;
  padding-left: 30px;
  background-size: 20px;
  background-position: left center;
}
@media (max-width: 500px) {
  .chayka-comments-comment_item .chayka-spinner {
    background-size: 16px;
    overflow: hidden;
    width: 16px;
    height: 16px;
    line-height: 16px;
    padding-left: 16px;
    position: absolute;
    top: 20px;
    right: 0;
    z-index: 1;
  }
}
.chayka-comments-comment_item .comment_date {
  min-height: 24px;
  line-height: 24px;
  text-align: right;
  font-size: 11px;
  margin-left: 2em;
  float: left;
}
@media (max-width: 500px) {
  .chayka-comments-comment_item .comment_date {
    display: none;
  }
}
.chayka-comments-comment_item .comment_voting {
  min-height: 24px;
  float: right;
  max-width: 100px;
  margin-left: 1em;
  line-height: 24px;
  /*position: absolute;*/
}
@media (max-width: 500px) {
  .chayka-comments-comment_item .comment_voting {
    margin-left: 0;
  }
}
.chayka-comments-comment_item .comment_voting .comment_karma {
  vertical-align: top;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
}
.chayka-comments-comment_item .comment_voting .comment_karma.positive {
  color: #439c24;
}
.chayka-comments-comment_item .comment_voting .comment_karma.negative {
  color: #a52727;
}
.chayka-comments-comment_item .comment_voting .comment_karma_delta {
  vertical-align: top;
  display: none;
  border-radius: 3em;
  color: white;
  min-width: 2ex;
  padding: 0 1ex;
  /*text-align: center;*/
  font-size: 12px;
  /*vertical-align: middle;*/
}
.chayka-comments-comment_item .comment_voting .comment_karma_delta.positive {
  display: inline-block;
  background-color: #439c24;
}
.chayka-comments-comment_item .comment_voting .comment_karma_delta.negative {
  display: inline-block;
  background-color: #a52727;
}
.chayka-comments-comment_item .comment_voting .comment_vote_arrow {
  min-height: 24px;
  line-height: 24px;
  display: inline-block;
  cursor: pointer;
}
.chayka-comments-comment_item .comment_voting .comment_vote_arrow.vote_up {
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}
.chayka-comments-comment_item .comment_voting .comment_vote_arrow.vote_down {
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}
.chayka-comments-comment_item .comment_voting .comment_vote_arrow.disabled {
  opacity: .5;
}
.chayka-comments-comment_item .comment_voting .comment_vote_arrow > .dashicons-before::before {
  min-height: 24px;
  line-height: 24px;
  vertical-align: top;
  font-size: 23px;
}
.chayka-comments-comment_item .comment_content {
  /*float: left;*/
  clear: both;
  font-size: 13px;
  min-height: 33px;
  padding-left: 64px;
  padding-bottom: 30px;
  /*margin-right: 120px;*/
}
@media (max-width: 500px) {
  .chayka-comments-comment_item .comment_content {
    padding-bottom: 6px;
  }
}
.chayka-comments-comment_item .comment_content .comment_reply_to {
  float: left;
  margin-right: 1ex;
  cursor: pointer;
}
.chayka-comments-comment_item .comment_content .comment_message {
  white-space: pre-wrap;
  display: inline;
}
.chayka-comments-comment_item .comment_content .comment_unfold {
  display: inline;
  cursor: pointer;
  text-decoration: underline;
  color: cornflowerblue;
  white-space: nowrap;
}
.chayka-comments-comment_item .comment_content .comment_total_replies {
  cursor: pointer;
  margin-top: 5px;
  font-size: 90%;
}
.chayka-comments-comment_item .comment_status {
  margin-top: -24px;
  height: 24px;
  float: left;
  font-size: 11px;
  font-style: italic;
}
@media (max-width: 500px) {
  .chayka-comments-comment_item .comment_status {
    margin-top: 0;
    float: right;
  }
}
.chayka-comments-comment_item .comment_tools {
  margin-top: -24px;
  height: 24px;
  float: right;
  display: none;
  font-size: 11px;
  opacity: .5;
}
@media (max-width: 500px) {
  .chayka-comments-comment_item .comment_tools {
    display: block;
    margin-top: 0;
  }
}
.chayka-comments-comment_item .comment_tools .tool_link {
  cursor: pointer;
  margin-left: 1ex;
}
.chayka-comments-comment_item .comment_tools .tool_link .dashicons-before::before {
  font-size: 17px;
}
.chayka-comments-comment_item:hover .comment_tools {
  display: block;
}
.chayka-comments-comment_item.negative_karma .comment_message {
  color: #aaaaaa;
}
.chayka-comments-comment_item.reply_to {
  background-color: #fafafa;
}
.chayka-comments-comment_item.comment_refreshed {
  background-color: antiquewhite;
}
.modal_body .chayka-comments-comment_editor {
  margin-bottom: 0;
}
.chayka-comments-comment_editor {
  padding: 0.5em 0;
  margin-bottom: 2em;
  clear: both;
}
.chayka-comments-comment_editor .flex_box {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
}
.chayka-comments-comment_editor .reply_to_box > h3 {
  font-size: 16px;
  margin-top: 0;
}
.chayka-comments-comment_editor .form_field {
  margin-right: 1em;
  margin-bottom: 10px;
}
.chayka-comments-comment_editor .form_field label {
  display: none;
}
.chayka-comments-comment_editor .form_field .input input,
.chayka-comments-comment_editor .form_field .input textarea {
  font-size: 13px;
  border-color: #ccc;
  padding: 2px;
  margin-bottom: 0;
}
.chayka-comments-comment_editor .form_field .input .placeholder {
  color: #888888;
}
.chayka-comments-comment_editor .form_field .message {
  clear: both;
  text-align: right;
  font-size: 12px;
  font-style: italic;
  color: gray;
  height: 14px;
}
.chayka-comments-comment_editor .form_field .message.error {
  color: #CD0A0A;
}
.chayka-comments-comment_editor .content_block {
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.chayka-comments-comment_editor .content_block .field_content {
  margin-right: 0;
  width: 100%;
}
.chayka-comments-comment_editor .content_block .field_content label {
  display: none;
}
.chayka-comments-comment_editor .content_block .field_content .input textarea {
  box-sizing: border-box;
  width: 100%;
  min-height: 200px;
}
.chayka-comments-comment_editor .content_block .field_content .message {
  -webkit-flex: 0 0 14px;
      -ms-flex: 0 0 14px;
          flex: 0 0 14px;
  text-align: right;
  font-size: 12px;
  font-style: italic;
  color: gray;
  height: 14px;
}
.chayka-comments-comment_editor .content_block .field_content .message > p {
  margin: 0;
  padding: 0;
}
.chayka-comments-comment_editor .content_block .field_content .message.error {
  color: #CD0A0A;
}
.chayka-comments-comment_editor .non_authorized_block {
  -webkit-flex: 0 0 230px;
      -ms-flex: 0 0 230px;
          flex: 0 0 230px;
}
.chayka-comments-comment_editor .user_authorized_block {
  -webkit-flex: 0 0 64px;
      -ms-flex: 0 0 64px;
          flex: 0 0 64px;
}
.chayka-comments-comment_editor .user_authorized_block img.avatar {
  position: absolute;
  width: 48px;
  height: auto;
  border: 1px solid #dddddd;
}
.chayka-comments-comment_editor .form_box-buttons {
  box-sizing: border-box;
  text-align: right;
  /*width: 100px;*/
}
.chayka-comments-comment_editor .form_box-buttons .required_fields_note {
  display: none;
  float: left;
}
.chayka-comments-comment_editor .form_box-buttons .required_fields_note span {
  color: red;
  font-weight: bold;
}
.chayka-comments-comment_editor.non_authorized {
  /*editor*/
  padding-top: 1em;
}
.chayka-comments-comment_editor.non_authorized > .auth_required {
  text-align: center;
}
.chayka-comments-comment_editor.non_authorized > .auth_required > .social_auth {
  margin: 1em auto 0;
  border-top: 1px dotted #000;
  width: 280px;
}
.chayka-comments-comment_editor.non_authorized > .auth_required > .social_auth > .social_or {
  margin: -1em auto 0;
  background-color: white;
  width: 50px;
}
.chayka-comments-comment_editor.non_authorized > .auth_required > .social_auth > .auth_button {
  color: white;
  line-height: 30px;
  padding: 0 10px 0 35px;
  background: no-repeat 5px 50%;
  background-size: 20px 20px;
  display: inline-block;
  margin: 1ex 1ex;
  width: 120px;
  border-radius: 3px;
  cursor: pointer;
}
.chayka-comments-comment_editor.non_authorized > .auth_required > .social_auth > .auth_button.auth_button_facebook {
  background-image: url(../img/fb40x40.png);
  background-color: #4c66a4;
}
.chayka-comments-comment_editor.non_authorized > .auth_required > .social_auth > .auth_button.auth_button_linkedin {
  background-image: url(../img/in40x40.png);
  background-color: #0077b5;
}
.chayka-comments-comment_editor.non_authorized .auth_invitation {
  text-align: center;
  margin-bottom: 1em;
  line-height: 26px;
}
.chayka-comments-comment_editor.non_authorized .auth_invitation > .auth_button {
  color: white;
  background: no-repeat 50% 50%;
  background-size: 20px 20px;
  width: 26px;
  height: 26px;
  display: inline-block;
  margin: 0 2px -0.8ex;
  border-radius: 3px;
  cursor: pointer;
}
.chayka-comments-comment_editor.non_authorized .auth_invitation > .auth_button.auth_button_facebook {
  background-image: url(../img/fb40x40.png);
  background-color: #4c66a4;
}
.chayka-comments-comment_editor.non_authorized .auth_invitation > .auth_button.auth_button_linkedin {
  background-image: url(../img/in40x40.png);
  background-color: #0077b5;
}
.chayka-comments-comment_editor.non_authorized .non_authorized_block .form_field {
  width: 210px;
}
.chayka-comments-comment_editor.non_authorized .non_authorized_block .form_field .form_field-tips {
  margin-right: 10px;
}
.chayka-comments-comment_editor.non_authorized .non_authorized_block.require_name_email > div[data-check-required] > .input {
  position: relative;
}
.chayka-comments-comment_editor.non_authorized .non_authorized_block.require_name_email > div[data-check-required] > .input::after {
  content: '*';
  color: red;
  font-weight: bold;
  position: absolute;
  right: -12px;
  top: 0;
  display: inline-block;
  overflow: visible;
}
@media (max-width: 500px) {
  .chayka-comments-comment_editor.non_authorized .flex_box {
    -webkit-flex-flow: column;
        -ms-flex-flow: column;
            flex-flow: column;
  }
  .chayka-comments-comment_editor.non_authorized .non_authorized_block {
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    -webkit-flex: 1 1;
        -ms-flex: 1 1;
            flex: 1 1;
  }
  .chayka-comments-comment_editor.non_authorized .non_authorized_block .form_field {
    width: 100%;
  }
  .chayka-comments-comment_editor.non_authorized .content_block {
    -webkit-order: 0;
        -ms-flex-order: 0;
            order: 0;
  }
  .chayka-comments-comment_editor.non_authorized .content_block .input textarea {
    min-height: 100px;
  }
}
.chayka-comments-comment_editor.non_authorized .form_box-buttons {
  /*padding-left: 230px;*/
  width: 100%;
}
.chayka-comments-comment_editor.non_authorized .form_box-buttons .required_fields_note {
  display: block;
}
.chayka-comments-comment_editor.user_authorized .content_block .input textarea {
  min-height: 50px;
  height: 50px;
}
.chayka-comments-comment_editor.user_authorized .form_box-buttons {
  /*padding-left: 230px;*/
  width: 100%;
}
.chayka-comments-dialog > h3 {
  font-size: 16px;
  margin-top: 0;
}
.chayka-comments-dialog > .replies_list {
  padding-left: 20px;
}
